monitorItem {
	float: right;
	clear: left;
	padding-top: 30px;
	padding-bottom: 30px;
	padding-left: 30px;
}

body {
  padding-top: 70px;
  padding-bottom: 30px;
}

.team {
	font-size:x-large;
	color: grey;
	font-weight: 700;
}


.theme-dropdown .dropdown-menu {
  position: static;
  display: block;
  margin-bottom: 20px;
}

.theme-showcase > p > .btn {
  margin: 5px 0;
}

.theme-showcase .navbar .container {
  width: auto;
}

.itemsTitle {
	font-size: larger;
	color: #00affa;
	font-weight: 700;
}

.itemsSubtitle {
	font-size: smaller;
	color: gray;
}

.itemsSubsubtitle {
	color: #00affa;
}

.other {
	color: gray;
	font-weight: bolder;
}

.links {
	font-size: smaller;
	color: #f7b32a;
	font-weight: bolder;
}

.headertime {
	text-align: center;
	color: gray;
	font-weight: 500;
}

.hbig {
	font-size: 100px;
	font-weight: 100;
	color: #aec9e9;
	text-align: center;
}

.hsmall {
	font-size: 30px;
	font-weight: 100;
	color: #aec9e9;
	text-align: center;
}

.loc {
	text-transform: uppercase;
	font-weight: 100;
	color: grey;
	font-size: 36px;
	text-align: center;
}

img.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

ul
{
list-style-type: none;
}

form {
    margin:0 auto;
    width:459px;
}

/* Style the text boxes */
input, textarea {
	width:439px;
	height:27px;
	background:#efefef;
	border:1px solid #dedede;
	padding:10px;
	margin-top:3px;
	font-size:0.9em;
	color:#3a3a3a;
	-moz-border-radius:5px;
    -webkit-border-radius:5px;
    border-radius:5px;
}

input:focus, textarea:focus {
    border:1px solid #97d6eb;
}

textarea {
	height:213px;
	background: #efefef;
}

#submit {
    width:127px;
    height:38px;
    background:rgba(204, 204, 208, 0.85);
    color: grey;
    border:none;
    margin-top:20px;
    cursor:pointer;
}

	#submit:hover {
	    opacity:.9;
	}

#map-canvas {
  width: 100%;
  height: 300px;
  margin-bottom: 15px;
  border: 2px solid #fff;
}

#map-container { height: 300px }