monitorItem {
	float: right;
	clear: left;
	padding-top: 30px;
	padding-bottom: 30px;
	padding-left: 30px;
}

body {
  padding-top: 70px;
  padding-bottom: 30px;
}

.team {
	font-size:x-large;
	color: grey;
	font-weight: 700;
}


.theme-dropdown .dropdown-menu {
  position: static;
  display: block;
  margin-bottom: 20px;
}

.theme-showcase > p > .btn {
  margin: 5px 0;
}

.theme-showcase .navbar .container {
  width: auto;
}

.itemsTitle {
	font-size: larger;
	color: #00affa;
	font-weight: 700;
}

.itemsSubtitle {
	font-size: smaller;
	color: gray;
}

.itemsSubsubtitle {
	color: #00affa;
}

.other {
	color: gray;
	font-weight: bolder;
}

.links {
	font-size: smaller;
	color: #f7b32a;
	font-weight: bolder;
}

.headertime {
	text-align: center;
	color: gray;
	font-weight: 500;
}

img.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

ul
{
list-style-type: none;
}

