body {
	 margin: 0;
}

.bg {
	background-image: url("/assets/img/mountain.jpg");
	background-repeat: no-repeat;
	background-size: cover;
}

#contactform .btn:hover {
  background: rgba(9,8,77,0.7);
}

#map-canvas {
  width: 100%;
  height: 300px;
  margin-bottom: 15px;
  border: 2px solid #fff;
}

#productFirst {
	float: right;
	clear: left;
	padding-left: 15px;
	width: 40%;
	height: 40%;
}

#productSecond {
	float: right;
	clear: left;
	padding: 15px 0px 0px 15px;
	width: 40%;
	height: 40%;
}

#productThird {
	float: right;
	clear: left;
	}
	
#terms {
	font-size: smaller;
	text-align: right;
}

.transparent{
  background:rgba(255,255,255,0.5);
}